.label__form{
  width: 80vw;
  display: flex!important;
  margin-top: 1%
}
.value__form{
  width: 80vw;
  display: flex!important;
  margin: 0
}
.label__item{
  width: 150px;
  border: 1px solid black;
  padding: 20px;
  display: flex!important;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
.info__item{
  width: 200px;
  border: 1px solid black;
  display: flex!important;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}
.point__input{
  width: 20%
}
.grade_board{
  padding: 0 5vw;
  height: 100vh!important;}
.input_file{
  border: solid 1px #808080;
  padding: 1.5% 0 1.5% 1.5% ;
  border-radius:5px;
}
.form_grade{
  overflow-x: scroll;
  overflow-y: scroll;
}
.fw_normal{
  font-weight: normal!important;
}
.upload_form{width: 25vw}
.ml-2{margin-left: 2% !important;}
.mt-1{margin-top: 1%;}